@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;


    --bluedark: #081b29;
    --blueli9ght: #00abf0;
    --color-primario: #071D49; 
    --color-secundario: #C4D600; 
    --color-secundario-dark:#c4d600b6;
    --color-terceario: #ededed;
    --color-fondo: #ededed;
    --color-fondo2: #ededed;
    --color-prueba: #345aa4;
}



body {
    background-color: #ededed;
    /* background: linear-gradient(90deg,#071D49  -28.35%, rgba(63, 0, 156, 0) 153.96%); */
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none ;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, p {
    margin: 0;
    color: var(--color-primario);
}

.row {
    display: flex;
}

.container-header {
    max-width: 90%;
    margin: 0 auto;
}

header {
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 1.5em 0;
}

.logo {
    align-items: center;
    color: var(--color-primario);
}

.logo img {
    max-width: 35px;
}

nav ul {
    gap: 2rem;
    align-items: center;
} 

nav a {
    color: var(--color-primario);
    font-weight: 500;
    font-size: 18px;
    transition: .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

nav a::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    margin: 0 auto;
    /* background-color: #ededed; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-raiuds: 5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    background-color: #C4D600;
}

nav li:nth-of-type(5) a::after {
    all:unset;
}

nav a:hover::after {
    width: 30px;
}

nav li:nth-of-type(1) a {
    padding: 0.5em 1em;
    /* background: linear-gradient(90deg, var(--color-secundario) -28.35%, rgba(63, 0, 156, 0) 153.96%); */
    background: var(--color-secundario);
    border-radius: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-raiuds: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;  
}

nav li:nth-of-type(1) a:hover, .hero a:hover {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

/* Hero */
.hero {
    gap: 2em;
    flex-wrap: wrap-reverse;
    align-items: center;
    min-height: calc(100vh - 93.6px);
}

.hero>* {
    flex: 1 1 25em;
}

.hero h1 {
    font-weight: 700;
    /* font-size: clamp(40px, 5vw, 70px); */
    font-size: 55px;
    line-height: 1;
}

span {
    color: #C4D600;
    
}

.hero p {
    font-weight: 500;
    font-size: 20px;
    padding: 1em 0;
}

.hero a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 0.3em 1em;
    background: linear-gradient(90deg, var(--color-primario) 0%, var(--color-prueba) 164%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-raiuds: 10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

/* Breakpoints */
@media screen and (max-width:900px) {
    .toggleMenu {
        position: absolute;
        right: 5%;
        background-image: url(./img/bx-menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 1000;
        transition: background-size 0.3s ease-in-out;
        -webkit-transition: background-size 0.3s ease-in-out;
        -moz-transition: background-size 0.3s ease-in-out;
        -ms-transition: background-size 0.3s ease-in-out;
        -o-transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        position: fixed;
        background-image: url(./img/bx-x-circle.svg);
        background-size: 25px ;
    }

    .navigation {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
    }

    .navigation.active {
        position: fixed;
        inset: 0;
        margin: auto;
        max-height: 100%;
        background-color: #ededed;
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }

    nav ul {
        flex-direction: column;
    }
}