@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;

    --bluedark: #081b29;
    --blueli9ght: #00abf0;
    --color-primario: #071D49; 
    --color-secundario: #C4D600; 
    --color-secundario-dark:#c4d600b6;
    --color-terceario: #ededed;
    --color-fondo: #ededed;
    --color-fondo2: #ededed;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none ;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, p {
    margin: 0;
}

