/* General layout and typography stuff */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

.serv .heading {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 2rem;
    text-align: center;

}

.services {
    padding: 0 64px 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
    /* justify-content: center; */
}
  
  .card1,
  .card2,
  .card3 {
    border-radius: 16px;
    /* margin: 0 auto; */
    width: 330px;
    max-width: 100%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover;
  }

  .card1 {
    background-image: url('../img/servicio1.jpg');
  }

  .card2 {
    background-image: url('../img/servicio2.jpg');
  }

  .card3 {
    background-image: url('../img/servicio3.jpg');
  }
  
  .info_ {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #071D49;
    transform: translateY(100%)
      translateY(-88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .info_:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-image: url(https://source.unsplash.com/collection/905011/1000x1000); */
    background-color:#ededed;
    /* filter: blur(10px); */
    background-size: cover;
    opacity: 0.1;
    transform: translateY(-100%)
      translateY(88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .card1:hover .info_,
  .card1:hover .info_:before,
  .card2:hover .info_,
  .card2:hover .info_:before,
  .card3:hover .info_,
  .card3:hover .info_:before {
    transform: translateY(0) translateZ(0);
  }
  
  .title_ {
    margin: 0;
    padding: 24px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: #ededed;
    /* color: rgba(0, 0, 0, 0.87); */

  }
  
  .description_ {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-align: justify;
  }

.ser-button {
    padding: 0 24px 24px;
    align-items: center;
}

.ser-button a {
    padding: 0.5em 1em;
    color: #071D49;
    background: #eaff00;
    font-weight: 500;
    font-size: 18px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-raiuds: 30px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.ser-button a:hover {
    color: #00abf0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    text-decoration: none;
}
  
  
  /* * {
    box-sizing: border-box;
    position: relative;
    transition: all .3s ease
  } */

  @media screen and (max-width:1160px) {
    .services {
      gap: 2rem;
    }
  }

  @media screen and (max-width: 520px) {
    .card1,
    .card2, 
    .card3 {
      width: 250px;
    }

    .info_ {
      height: 430px;
    }

    .title_ {
      font-size: 20px;
      padding: 1rem 24px;
    }

    .description_ {
      font-size: 12px;
    }

    .info_ {
      transform: translateY(100%)
      translateY(-50px)
      translateZ(0);
    }

    .info_:before {
      transform: translateY(-100%)
      translateY(50px)
      translateZ(0);
    }


  }